.dropdown
    z-index: 500
    position: relative
    display: inline-block

    & > nav
        // background: skyblue
        
    & > div
        position: absolute
        z-index: 500
        height: auto
        left: 50%
        top: 100%
        max-height: 0px
        margin-top: $ds
        overflow: hidden
        background: #FFF
        transform: translateX(-50%)

    .active
        max-height: 16em
        animation: drop_down .362s ease-in
        

@keyframes drop_down
    0%
        opacity: 0.4
        max-height: 0px
    100%
        opacity: 1
        max-height: 16em